<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">

            <h1 class="mt-5"> RSS Feed sender App</h1>
            <p class="lead">Complete app with send file RSS to email</p>
            <ul class="list-unstyled">
                <li>Node.js 14.16.0</li>
                <li>Bootstrap 4.6.0</li>
            </ul>

            <div class="text-center m-4">
                <a class="btn btn-xl btn-outline-dark" href="/add">
                    <i class="fas fa-share-square mr-2"></i>
                    Send your RSS file
                </a>
            </div>

        </div>
    </div>
</div>
